.imgs-h {
    z-index: 8;
    font-family: Poppins;
    touch-action: pan-y;
    height: auto;
    width: auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
    white-space: normal;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    vertical-align: top;
    text-align: right;
    line-height: 80px;
    letter-spacing: -1px;
    font-weight: 800;
    font-size: 90px;
    padding: 50px 30px 30px;
    backdrop-filter: none;
    filter: none;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
}
.imgs-c {
    z-index: 7;
    font-family: Poppins;
    touch-action: pan-y;
    height: auto;
    width: auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
    white-space: normal;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    vertical-align: top;
    text-align: right;
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    backdrop-filter: none;
    filter: none;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
}
.imgs-txt{
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    width: 628px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-27%, 28%);
    max-width: 100%;
}
.imgs > img {
    height: 800px;
    width: 930px;
}



.imgss-h {
    z-index: 8;
    font-family: Poppins;
    touch-action: pan-y;
    height: auto;
    width: auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
    white-space: normal;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    vertical-align: top;
    text-align: center;
    line-height: 80px;
    letter-spacing: -1px;
    font-weight: 800;
    font-size: 90px;
    padding: 50px 30px 30px;
    backdrop-filter: none;
    filter: none;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
}
.imgss-c {
    z-index: 7;
    font-family: Poppins;
    touch-action: pan-y;
    height: auto;
    width: auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
    white-space: normal;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    vertical-align: top;
    text-align: center;
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    backdrop-filter: none;
    filter: none;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
}
.imgss-txt{
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    width: 628px;
    max-width: 100%;
    z-index: 1;
}
.imgss > img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 1240px;
    height: 540px;
    z-index: -1;
}


.imgsss-h {
    z-index: 8;
    font-family: Poppins;
    touch-action: pan-y;
    height: auto;
    width: auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
    white-space: normal;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    vertical-align: top;
    text-align: left;
    line-height: 80px;
    letter-spacing: -1px;
    font-weight: 800;
    font-size: 90px;
    padding: 50px 30px 30px;
    backdrop-filter: none;
    filter: none;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
}
.imgsss-c {
    z-index: 7;
    font-family: Poppins;
    touch-action: pan-y;
    height: auto;
    width: auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
    white-space: normal;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    vertical-align: top;
    text-align: left;
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    backdrop-filter: none;
    filter: none;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
}
.imgsss-txt{
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    width: 682px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-74%, -125%);
    max-width: 100%;
}
.imgsss > img {
    height: 800px;
    width: 930px;
    margin-left: auto;
}