.hero {
    background-image: url('../../../public/assets/section1_bg.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    -webkit-mask-image: linear-gradient(black 90%, transparent);
    mask-image: linear-gradient(black 90%, transparent);
}
.sticky{
    position: sticky;
    top: 0;
}
.sign-board {
    height: 350px;
    position: absolute;
    bottom: 0;
}